/target
Cargo.lock
*~
*rustic*
*.parquet
*/#*
.#*
*.pkl
*.txt
*.bin
*.dot
test-results.md
examples/wind_loads/wind_loads MT_mount_zen_30_m1HFN_FSM.ipynb
/.vscode
figures/
slides/
zen30az135_NOS7/
mat2bin
*.tgz
m1calibration/
*.py
.ipynb_checkpoints/
benchmark/
debug/
book/book/
clients/m2-ctrl/calib_dt/
clients/icons/
grsim/ngao/data
grsim/ngao-opm/data
grsim/open-loop/data
old/
grsim/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/