name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  GMT_MODES_PATH: /home/ubuntu/mnt/ceo
  NVCC: /usr/local/cuda/bin/nvcc
  CUDACXX: /usr/local/cuda/bin/nvcc

jobs:
  setup:
    name: Setup
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
       
  build-main:
    name: Build Main Workspace
    needs: setup
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build ASMS workspace
      env:
        FEM_REPO: /home/ubuntu/mnt/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/
        MOUNT_MODEL: MOUNT_PDR_8kHz
      run: cargo build --locked --workspace --all-features --exclude tms --exclude "mechanics" --exclude "scopes" --exclude "edge-sensors" --exclude demos 
    - name: Build FSMS workspace
      env:
        FEM_REPO: /home/ubuntu/mnt/20230530_1756_zen_30_M1_202110_FSM_202305_Mount_202305_noStairs/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo build --locked --workspace --all-features --exclude tms --exclude "mechanics" --exclude "scopes" --exclude "edge-sensors" --exclude demos 
      
  build-examples:
    name: Build Examples & Demos
    needs: build-main
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build book examples
      run: cargo build --locked -p book-examples --examples
    - name: Build demos
      env:
        FEM_REPO: /home/ubuntu/mnt/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/
        MOUNT_MODEL: MOUNT_PDR_8kHz
      run: cargo build --locked --package demos --bins --features gmt_dos-clients_arrow

  test:
    name: Run Tests
    needs: build-main
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Run ASMS library tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/
        MOUNT_MODEL: MOUNT_PDR_8kHz
      run: cargo test --locked --release --lib --all-features -- --test-threads 4
    - name: Run FSMS library tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20230530_1756_zen_30_M1_202110_FSM_202305_Mount_202305_noStairs/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo test --locked --release --lib --all-features -- --test-threads 4
    - name: Run ASMS doc tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/
        MOUNT_MODEL: MOUNT_PDR_8kHz
      run: cargo test --locked --doc --all-features
    - name: Run FSMS doc tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20230530_1756_zen_30_M1_202110_FSM_202305_Mount_202305_noStairs/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo test --locked --doc --all-features

      
